<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smart.tamanpintar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SliderView"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_wahana_kk_gerabah"
            android:parentActivityName=".activity_wahana_kampungkerajinan" />
        <activity
            android:name=".activity_wahana_kk_lukiskaos"
            android:parentActivityName=".activity_wahana_kampungkerajinan" />
        <activity
            android:name=".activity_wahana_kk_kgerabah"
            android:parentActivityName=".activity_wahana_kampungkerajinan" />
        <activity
            android:name=".activity_wahana_kk_batik"
            android:parentActivityName=".activity_wahana_kampungkerajinan" />
        <activity
            android:name=".activity_wahana_go_surya"
            android:parentActivityName=".activity_wahana_gedungoval" />
        <activity
            android:name=".activity_wahana_go_dome"
            android:parentActivityName=".activity_wahana_gedungoval" />
        <activity
            android:name=".activity_wahana_go_purba"
            android:parentActivityName=".activity_wahana_gedungoval" />
        <activity
            android:name=".activity_wahana_go_iklim"
            android:parentActivityName=".activity_wahana_gedungoval" />
        <activity
            android:name=".activity_wahana_gk_ilusi"
            android:parentActivityName=".activity_wahana_gedungkotak" />
        <activity
            android:name=".activity_wahana_gk_air"
            android:parentActivityName=".activity_wahana_gedungkotak" />
        <activity
            android:name=".activity_wahana_gk_nuklir"
            android:parentActivityName=".activity_wahana_gedungkotak" />
        <activity
            android:name=".activity_wahana_gk_teknologi"
            android:parentActivityName=".activity_wahana_gedungkotak" />
        <activity
            android:name=".activity_wahana_kampungkerajinan"
            android:parentActivityName=".activity_wahana" />
        <activity
            android:name=".activity_wahana_gedungoval"
            android:parentActivityName=".activity_wahana" />
        <activity
            android:name=".activity_wahana_gedungkotak"
            android:parentActivityName=".activity_wahana" />
        <activity
            android:name=".activity_profil_logo"
            android:parentActivityName=".activity_profil" />
        <activity
            android:name=".activity_profil_tujuan"
            android:parentActivityName=".activity_profil" />
        <activity
            android:name=".activity_profil_visi"
            android:parentActivityName=".activity_profil" />
        <activity
            android:name=".activity_profil_sejarah"
            android:parentActivityName=".activity_profil" />
        <activity
            android:name=".activity_tiket"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity_wahana"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity_profil"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>